<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JF Routes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/contracts.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/contracts.js" async></script>

</head>

<body>


    <nav>
        <ul>
            <li value="1">
                Summary/Outstanding
            </li>
            <li value="2">
                In-Progress
            </li>
            <li value="3">
                Finished
            </li>
            <li value="4">
                Deleted/Cancelled/Rejected
            </li>
        </ul>
    </nav>

    <% var current = new Date(); %>
    <div class="main">

        <div class="table-wrapper" value="1">
            <h2>Jump Freighter Routes</h2>
            <table>
                <tr>
                    <th>From</th>
                    <th> </th>
                    <th>To</th>
                    <th>Volume Limit</th>
                    <th>Collateral Limit</th>
                    <th>Route Pricing</th>
                    <th>Collateral Charge</th>
                    <th>Minimum Reward</th>
                    <th>Rush Shipping</th>
                </tr>
                <% routes.forEach((route)=>{%>
                <tr>
                    <td class="start"><%=route.start%></td>
                    <td>--></td>
                    <td><%=route.destination%></td>
                    <td><%=parseInt(route.maxVolume).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> m<sup>3</sup></td>
                    <td><%=parseInt(route.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <td><%=parseInt(route.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <td><%=route.collateralMultiplier%></td>
                    <td><%=parseInt(route.minReward).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <td><%=parseInt(route.rushShippingCharge).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>

                </tr>
                <%})%>
            </table>
        </div>
        <script src="/js/contracts.js" async></script>
</body>

</html>
