<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Multi-Lemm Logistics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pricing.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/contracts.js" async></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalizer.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/dt-1.12.1/sb-1.3.3/sp-2.0.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/pricing.js" ></script>


</head>

<body>
  <header style="position: relative;">
      <div id='navContainer' class='navContainer' style="background-color: grey;">
          <h3 class='title'><a href='/'><img class="mainLogo" src="img/logo.png" style="height: 29px; width: 29px;vertical-align: text-top;"> Multi-Lemm Logistics</a></h3>
          <div style='float:right'>
              <ul class='navList'>
                  <!--<li class='navLink'><a href="/">Home</a></li>-->
                  <li class='navLink'><a href="/">Home</a></li>
                  <li class='navLink'><a href="/jfcalculator">JF Calculator</a></li>
                  <li class='navLink'><a href="/perjumpcalculator">BR/DST/Freighter Calculator</a></li>
                  <li class='navLink'><a href="/custom">Custom Request</a></li>
                  <li class='navLink'><a href="/#guide">Guide</a></li>
                  <li class='navLink'><a href='https://discord.gg/fQqCvHT' target="_blank">DISCORD</a></li>
                  <li class='navLink'><a
                          href='https://www.pandemic-horde.org/forum/index.php?threads/multi-lemm-logistics-jf-freighter-br-service-covering-tke-def-custom-routes.2872/'
                          target="_blank">FORUMS</a></li>
              </ul>
          </div>
      </div>
  </header>
  <br>

    <% var current = new Date(); %>
    <div class="main">
      <br>
      <h2>Per Jump Pricing</h2>
          <table id="per-jump" class="table">
            <tr>
              <th></th>
              <th>Maximum Volume</th>
              <th>Maximum Collateral</th>
              <th>High Sec: Price per Warp</th>
              <th>Low Sec: Price per Warp</th>
              <th>Null Sec: Price per Warp</th>
              <th>Rush Shipping Surcharge</th>
              <th>Minimum Rush Shipping Price</th>
            <tr>
              <% services.forEach((service)=>{%>
              <tr>
                  <td><strong><%=service.name%></strong></td>
                  <%if(!service.runsIn.highsec && !service.runsIn.lowsec && !service.runsIn.nullsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.maxVolume).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> m<sup>3</sup></td>
                  <%}%>
                  <%if(!service.runsIn.highsec && !service.runsIn.lowsec && !service.runsIn.nullsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
                  <%if(!service.runsIn.highsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.highsecPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK/m<sup>3</sup></td>
                  <%}%>
                  <%if(!service.runsIn.lowsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.lowsecPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK/m<sup>3</sup></td>
                  <%}%>
                  <%if(!service.runsIn.nullsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.nullsecPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK/m<sup>3</sup></td>
                  <%}%>
                  <%if(!service.isRush){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=(service.rushMultiplier -1)*100%>%</td>
                  <%}%>
                  <%if(!service.isRush){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.minRushPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
              </tr>
              <%})%>
            </tbody>
          </table>
      <h2>Jump Freighter Routes</h2>
      <!-- add class p-switch -->
        <div class="pretty p-switch p-fill" style="float: right">
            <input type="checkbox" id="intraDrone" name="routeType" value="Intra-Drones"/>
              <div class="state p-success">
                  <label>Display Intra-Drones Routes</label>
              </div>
          </div>
          <div class="pretty p-switch p-fill" style="float: right">
              <input type="checkbox" id="standard" name="routeType" value="Standard"/>
                <div class="state p-success">
                    <label>Display Standard Routes</label>
                </div>
            </div>
        <div  class="dataTables_wrapper container-fluid dt-bootstrap4" id="jf-routes-wrapper" value="1">
            <table id="jf-routes" class="table sortable dataTable">
              <thead>
                <tr>
                    <th>From</th>
                    <th> </th>
                    <th>To</th>
                    <th>Volume Limit</th>
                    <th>Collateral Limit</th>
                    <th>Route Pricing</th>
                    <th>Collateral Charge</th>
                    <th>Minimum Reward</th>
                    <th>Rush Shipping</th>
                    <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <% routes.forEach((route)=>{%>
                <tr>
                    <td class="start"><%=route.start%></td>
                    <td>-></td>
                    <td><%=route.destination%></td>
                    <td><%=parseInt(route.maxVolume).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> m<sup>3</sup></td>
                    <td><%=parseInt(route.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                      <%if(!route.isFlat){%>
                  <td><%=parseInt(route.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK/m<sup>3</sup></td>
                  <%}
                  else {%>
                    <td><%=parseInt(route.flatPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK Flat Fee</td>
                  <%}%>
                    <td><%=route.collateralMultiplier%> %</td>
                    <td><%=parseInt(route.minReward).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <%if(route.isRush){%>
                    <td><%=parseInt(route.rushShippingCharge).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <%}
                    else {%>
                    <td>N/A</td>
                    <%}%>
                    <td><%=route.routeType%></td>
                </tr>
                <%})%>
              </tbody>
            </table>
        </div>
        <script src="/js/contracts.js" async></script>


</body>

</html>
